* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    border: 0;
}

body {
    color: white;
    background-color: #282C33;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Fira Code';
    font-style: normal;
    margin: auto;
}

input {
    background-color: #555c69;
    border-radius: 10px;
    padding: 10px;
    margin: auto;
}

p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    font-family: 'Fira Code';
    padding: 10px;
    width: 170px;
    border-radius: 10px;
    background: linear-gradient(90deg, #00ffaa 0%, rgb(0, 225, 255) 100%);
    border-color: 2px solid black;
}

button:hover { 
    filter:brightness(85%);
    cursor: auto;
}

h1 {
    margin: auto;
    text-align: center;
    color: white;
    font-size: 60px;
    font-weight: 700;
    display: flex;
    background: linear-gradient(90deg, #00ffaa 0%, rgb(0, 225, 255) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    margin-top: 20px;
    font-size: 20px;
}

#main-container {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px
}

input {
    width: 171px;
    height: 48px;
}

#main-content {
    border: 1px solid black;
    border-radius: 12px;
    background-color: rgb(117, 117, 117);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 16px;
    justify-content: space-between;
    width: 900px;
    min-height: 540px;
    height: auto;
    margin-top: 32px;
    align-items: center;
    padding: 20px;
}

.content {
    font-family: 'Fira Code';
    font-style: normal;
    font-weight: 400;
    border: 1px solid black;
    border-radius: 4px;
    padding: 16px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 150px;
    height: 45px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.content:hover {
    transform: translateY(-5px) scale(110%);
    border-color: #00ffdd;
    transition: all 100ms;
    color: #00ffaa;
}

.coin-name {
    font-size: 16px;
    font-weight: 700;
}

.coin-value {
    color: rgb(230, 230, 230);
    font-size: 11px
}

.swal2-modal {
    border-radius: 4px;
    background-color: #2f2f32;
    color: #EAEAEA;
}

@media(max-width: 400px) {
    #main-content {
    grid-template-columns: 1fr, 1fr;
    }
}